@import url('https://fonts.googleapis.com/css?family=Archivo:400,700&display=swap');/**/

* {
    margin: 0;
    padding: 0;
    font-family: "Archivo", sans-serif;
}

.page-container{
  padding: 3% 0;
  transition: height 0.5s, opacity 0.5s;
}

#profile-page-container{
  position: absolute;
  top: 0;
  background-color: white; /*yellow;*/
}

.banner-container{
  min-height: 100px;
  margin: 0 auto;
}

#profile-photo-image-container{
  border-radius: 50%;
  background-color: black;
  color: white;
  margin: 0 auto 5% auto;
}

.portal-button-container{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;
  background-color: red;
  color: white;
  display: inline-block;
}

#settings-options-container{
  width: 100%;
  min-height: 250px;
}

.option-button-container{
  border-radius: 10px;
  height: 30%;
  font-size: 30px;
  text-align: center;
  line-height: 75px;
  margin: 5% auto;
  background-color: rgba(255, 255, 255, 1.0);
  border: 2px black solid;
  cursor: pointer;
  transition: color 0.25s, background-color 0.25s;
}

.option-button-container:hover{
  background-color: black;
  color: white;
}

#profile-manager-page-container{
  background-color: rgba(255, 255, 0, 0.9);/*black*/ /*aquamarine;*/
  display: none;
  height: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  top: 0;
  overflow-y: scroll;
}

.settings-container{
  vertical-align: top;
}

.icon-settings-component{
  border-radius: 50%;
  display: inline-block;
  background-color: blue;
}

.first-metric-component, .second-metric-component{
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  display: inline-block;
  text-align: center;
}

.edit-settings-button-component{
  border-radius: 50%;
  text-align: center;
  border: 2px white solid;
  background-color: white;
  color: black;
  display: inline-block;
}

#user-life-stream-container{
  background-color: rgba(255,255,255,0.9);
  border-radius: 10px;
  min-width: 250px;
}

#augr-settings-page-container{
  position: absolute;
  top: 0;
  display: none;
  opacity: 0;
  height: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.8);/*black*/
  color: white;
  /*background-color: red;*/
}

.settings-manager-container{
  font-size: 0;
  color: white;
  text-align: center;
}

.format-checkbox{
  margin-left: 15%;
  width: 15% !important;
}

.settings-manager-component{
  display: inline-block;
  text-align: center;
  width: 33%;
  font-size: 16px;
}

#augr-settings-header-title-container{
  text-align: center;
  text-transform: uppercase;
  color: white;
  border-bottom: 2px white solid;
  padding-bottom: 5%;
  font-size: 40px;
}

.settings-manager-container{
  width: 80%;
  height: 30px;
  margin: 2% auto;
  line-height: 30px;
}

#network-settings-title-settings-component-container, #sensory-settings-title-settings-component-container{
  border-top: 2px white solid;
  height: 50px;
  line-height: 50px;
  color: white;
}

#network-settings-park-name-settings-component-container, #network-settings-aria-count-settings-component-container, #network-settings-cards-count-settings-component-container{
  height: 35px;
  line-height: 35px;
}

#sensory-settings-vision-settings-component-container, #sensory-settings-touch-settings-component-container, #sensory-settings-hearing-settings-component-container{
  height: 35px;
  line-height: 35px;
}

#sensory-settings-manager-container, #network-settings-manager-container{
  width: 49%;
  height: auto;
  display: inline-block;
  text-align: center;
}

.preview-container{
  font-weight: 900;
  line-height: 500px;
  text-align: right;
  padding: 5%;
  color: white;
  font-size: 24px;
  height: 45%;
  min-width: 150px;
  min-height: 300px;
  display: inline-block;
  border-radius: 5px;
  margin: 0;
  cursor: pointer;
  box-shadow: 0;
  border: 0;
  transition: box-shadow 0.25s, border 0.25s, width 0.25s, height 0.25s;
}

#augr-preview-container{
    background-image: url("http://row-img-server-houseofven.us-east-1.elasticbeanstalk.com/augr.gif");/*../media/img/augr.gif");*/
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

#shoppAIR-preview-container{
    background-image: url("http://row-img-server-houseofven.us-east-1.elasticbeanstalk.com/shoppAIR.gif");/*../media/img/shoppAIR.gif");*/
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

#header-banner-container{
    line-height: 100px;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 52px;
    font-weight: 900;
    z-index: 200; /* refer to style diagram, i=0 */
}


.exit-button-container{
  border-radius: 50%;
  color: black;
  background-color: white;
  text-align: center;
  line-height: 100px;
  width: 100px;
  height: 100px;
  /*background-color: red;*/
  display: block;
  margin: 10% auto;
}

@media only screen and (max-width: 640px){
  #header-banner-container{
      position: absolute;
      width: 100%;
      height: 10%;
      top: 0;
      left: 0;
      border-radius: 0 0 10px 10px;
  }

  .preview-container{
    width: 100%;
    border: 0;
  }

  .option-button-container{
    width: 90%;
  }

  #profile-page-container{
    width: 100%;
    height: 100%;
  }

  #profile-photo-image-container{
    width: 300px;
    height: 300px;
  }

  .banner-container{
    height: 10%;
    width: 250px;
  }

  .portal-button-container{
    width: 50px;
    height: 50px;
    margin: 5px 2%;
  }

  #settings-options-container{
    height: 40%;
  }

  #profile-manager-page-container{
    /*width: 100%;
    height: 100%;*/
    width: 100%;
    left: 0;
  }

  .settings-container{
    width: 100%;
    margin: 3% auto;
  }

  .icon-settings-component{
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-left: 5%;
  }

  .first-metric-component, .second-metric-component{
    vertical-align: top;
    width: 15%;
    height: 5%;
    min-height: 50px;
    line-height: 50px;
    min-width: 100px;
    margin: 1% 2%;
  }

  .edit-settings-button-component{
    width: 50px;
    height: 50px;
    line-height: 50px;
  }

  #user-life-stream-container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
  }

  #augr-settings-page-container{
    /*width: 90%;
    height: 350px;
    padding: 5%;*/
    padding-top: 15%;
    width: 100%;
    left: 0;
  }

  #old-row-world-stream-container{
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 255, 0.5);
  }
}

@media only screen and (min-width: 640px){
  #header-banner-container{
      position: relative;
      width: 580px;
      height: 100px;
      margin: 4% auto 2% auto;
      display: block;
      border-radius: 10px;
  }

  .preview-container{
    width: 36%;
    margin: 1%;
  }

  .preview-container:hover{
    width: 80%;

    border: 5px white solid;
  }

  .option-button-container{
    width: 100%;
  }

  #profile-page-container{
    width: 500px;
    margin-left: -250px;
    left: 50%;
  }

  #profile-photo-image-container{
    width: 250px;
    height: 250px;
  }

  .banner-container{
    height: 100px;
    width: 100%;
  }

  .portal-button-container{
    margin: 5px 5%;
  }

  #settings-options-container{
    height: 250px;
  }

  #profile-manager-page-container{
  /*  width: 550px;
    margin: 0 auto;*/
    width: 550px;
    margin-left: -275px;
    left: 50%;
  }

  .settings-container{
    width: 530px;
    margin: 3% auto;
  }

  .icon-settings-component{
    width: 75px;
    height: 75px;
    line-height: 75px;
    margin-left: 10px;
    text-align: center;
  }

  .first-metric-component, .second-metric-component{
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin: 1% 15px;
  }

  .edit-settings-button-component{
    width: 75px;
    height: 75px;
    line-height: 75px;
  }

  #user-life-stream-container{
    width: 350px;
    margin: 2% auto;
    height: 250px;
  }

  #augr-settings-page-container{
    width: 450px;
    padding: 5%;
    left: 50%;
    margin-left: -250px;
  /*  height: 350px;
    margin: 0 auto;*/
  }

  #old-row-world-stream-container{
    width: 600px;
    left: 50%;
    margin-left: -300px;
    background-color: rgba(0, 0, 255, 0.5);
  }
}

#youtube-portal-button-container, #youtube-icon-settings-component-container{
  background-image: url("http://row-img-server-houseofven.us-east-1.elasticbeanstalk.com/youtube_logo.png");/*"../media/img/youtube_logo.png");*/
  background-size: 100% 100%;
}

#instagram-portal-button-container, #instagram-icon-settings-component-container{
  background-image: url("http://row-img-server-houseofven.us-east-1.elasticbeanstalk.com/ig-icon.png");/*"../media/img/ig-icon.png");*/
  background-size: 100% 100%;
}

#linkedin-portal-button-container, #linkedin-icon-settings-component-container{
  background-image: url("http://row-img-server-houseofven.us-east-1.elasticbeanstalk.com/linkedin_logo.png");/*"../media/img/linkedin_logo.png");*/
  background-size: 100% 100%;
}

#whatsapp-portal-button-container, #whatsapp-icon-settings-component-container{
  background-image: url("http://row-img-server-houseofven.us-east-1.elasticbeanstalk.com/whatsapp_logo.png");/*../media/img/whatsapp_logo.png");*/
  background-size: 100% 100%;
}

#old-row-world-stream-container{
  position: absolute;
  top: 0;
  height: 0;
  display: none;
  z-index: 300;
  transition: height 0.5s, opacity 0.5s;
  overflow-y: scroll;
}

#link-to-hov-portal-button-container{
  border-radius: 50%;
  position: absolute;
  background-image: url("http://row-img-server-houseofven.us-east-1.elasticbeanstalk.com/hov_ig_logo.png");/*../media/img/hov_ig_logo.png");*/
  background-size: 100% 100%;
  cursor: pointer;
  z-index: 50;
  top: 2%;
  right: 2%;
  width: 75px;
  height: 75px;
}
