<!DOCTYPE html>
<html>
<head>
    <title>House of Venus | City as a Service | viewXR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="./css/AugR.css" type="text/css" />
    <script src="../js/socket.io.js"></script>
    <script src="../js/viewer-session-managers.js"></script>
    <script src="../js/camera-browser.js"></script>
    <script src="../js/augr-fx.js"></script>
    <script src="../js/augr-main.js"></script>
</head>
<body>
    <script src="../js/augr-markup.js"></script>
</body>
</html>
